<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AtoB Remote</title>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <nav>
        <div id="nav-remote" onclick="switchTab('remote')">Remote</div>
        <div id="nav-log" onclick="switchTab('log')">Logs</div>
    </nav>
    <div>
        <label>Status: <span id="status-flag">Disconnected</span></label>
        <label>Mute Flag: <span id="mute-flag">-</span></label>
    </div>

    <div id="page-remote">

        <div id="text-display">No text to display currently</div>
        <div id="braille-display">
            Letter: <div id="letter-display"> - </div> 
            <br>
            Braille: <div id="dot-display">[0,0,0,0,0,0]</div>
        </div>

        <div>
            <button id="clear-btn">Clear All</button>
            <br>
            <button id="reboot-btn">Reboot Machine</button>
        </div>

        <div>
            <label>Input text here:</label>
            <input type="text" id="text-input">
            <button id="submit-btn">Submit</button>
        </div>

        <div>
            <label for="slider">Speed: <span id="speed-display">2</span></label>
            <input type="range" id="speed-slider" min="0.1" max="10" step="0.1" value="2">
        </div>
    </div>

    <div id="page-log" style="display: none">
        <h2>System Logs</h2>
    </div>

    

    <script src="static\script1.js"></script>
</body>
</html>